.header {
    color: #ffffff;
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.song {
    font-size: 21px;
}

@media screen and (min-width: 1024px) {
    .header {
        height: 20px;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        width: 1300px;
        margin: 0 auto;
    }
}