.music {
    display: flex;
    justify-content: space-between;
    background-color: #1C1B1B;
}

.musicWrapper {
    margin-top: 228px;
    width: 60px;
}

.header {
    color: #10ffff;
    font-size: 32px;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.title {
    color: #ffffff;
}

.slider {
    width: 300px;
}

.sliderList {
    padding: 10px 25px;
}

.sliderTrack {
    display: flex;
    justify-content: space-between;
    width: max-content;
    flex-shrink: 0;
}

.trackImgWrap {
    position: relative;
}

.slide {
    width: 200px;
    margin: 10px;
}

.trackImg {
    width: 200px;
}

.playHover {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #10ffff;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    transition: .3s linear;
}

.playHover:hover {
    opacity: 1;
}

.playButton {
    width: 80px;
}

.title {
    color: #FFFFFF;
    margin-top: 25px;
}

.genre {
    color: #10ffff;
    font-weight: 900;
    font-size: 12px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .slider {
        width: 650px;
    }

    .sliderList {
        padding: 10px 50px;
        position: relative;
    }

    .musicWrapper {
        margin-top: 300px;
        width: 60px;
        margin-left: 20px;
    }

    .slide {
        width: 350px;
        margin: 25px;
    }

    .trackImg {
        width: 350px;
    }

    .playHover {
        width: 350px;
        height: 350px;
    }

    .playButton {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .slider {
        width: 890px;
    }
    .slide {
        width: 300px;
        margin: 25px;
    }

    .musicWrapper {
        margin-top: 250px;
        width: 60px;
        margin-left: 70px;
    }

    .trackImg {
        width: 300px;
    }

    .playHover {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 1240px) {
    .slider {
        width: 1200px;
    }

    .slide {
        width: 400px;
        margin: 25px;
    }

    .musicWrapper {
        margin-top: 320px;
        width: 60px;
        margin-left: 70px;
    }

    .trackImg {
        width: 400px;
    }

    .playHover {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 1920px) {
    .musicWrapper {
        margin-top: 400px;
    }

    .slide {
        width: 500px;
        margin: 25px;
    }

    .musicWrapper {
        margin-left: 200px;
    }

    .trackImg {
        width: 500px;
    }

    .playHover {
        width: 500px;
        height: 500px;
    }
}
