.songWrapper {
    cursor: pointer;
    width: max-content;
}

.playlist {
    height: 200px;
    overflow-y: scroll;
    margin-top: -30px;
}

.prePlay {
    display: none;
}

.songName {
    color: #ffffff;
    font-size: 12px;
}

.selected .songName{
    color: #10ffff;
}

.songWrapper {
    display: flex;
    align-items: center;
}

.playHover {
    width: 30px;
    opacity: 0;
}

.listStyle {
    margin: 0;
    list-style: none;
    padding: 10px;
}

.listStyle li {
    padding: 4px 0;
    font-weight: 450;
}

.songContainer {
    cursor: pointer;
    user-select: none;
}

@media screen and (min-width: 1024px) {
    .playlist {
        height: 150px;
    }

    .songName {
        font-size: 16px;
    }

    .prePlay {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../../../../../Components/Media/Icon/playHoverW.svg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
    }

    .songWrapper:hover > .prePlay {
        opacity: 1;
    }

    .selected .prePlay {
        opacity: 1;
        background-image: url("../../../../../Components/Media/Icon/playHover.svg");
    }
}

@media screen and (min-width: 1920px) {

}