.header {
    background-color: #1C1B1B;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
    align-self: center;
}

.navLink {
    color: #ffffff;
}

select {
    color: #FFFFFF;
    background-color: #1C1B1B;
    border: 1px solid #FFFFFF;
    padding: 1px 20px;
    outline: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -webkit-border-radius: 0px;
    transition: .3s linear;
    appearance:none;
    cursor: pointer;
}

select:hover {
    color: #1C1B1B;
    background-color: #10ffff;
    border: 1px solid #10ffff;
}

@media screen and (min-width: 768px)  {
    .header {
        flex-direction: inherit;
        justify-content: space-between;
        padding: 12px 50px;
    }
    nav {
        margin: 0px;
        width: 50%;
    }

    .logo {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1024px)  {
    .header {
        padding: 15px 100px;
    }

    nav {
        width: 40%;
    }
}

@media screen and (min-width: 1240px) {
    nav {
        width: 40%;
    }

    .navLink {
        transition: .3s linear;
    }

    .navLink:hover {
        color: #10ffff;
    }
}