.bullet {
    padding: 25px 10px;
    display: block;
}

.left {
    text-align: left
}

.right {
    text-align: right;
}

.graphic {
    width: 100px;
}

.bild {
    font-weight: 900;
}

.description {
    font-weight: 300;
    margin-bottom: 25px;
}

.price {
    width: 300px;
    padding: 8px 100px;
    background-color: #10ffff;
    margin-top: 25px;
    text-align: center;
}

.price > p {
    font-weight: 900;
}

@media screen and (min-width: 1024px) {
    .bullet {
        padding: 50px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .graphic {
        width: 300px;
    }

    .bild {
        width: 300px;
    }

    .description {
        font-weight: 300;
        width: 300px;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        display: flex;
        justify-content: center;
    }
    .bullet {
        width: 1000px;
        padding: 80px 10px;
    }

    .textWrapper {
        width: 400px;
    }

    .graphic {
        width: 400px;
    }
}

@media screen and (min-width: 1920px) {
    .bullet {
        width: 1100px;
        padding: 80px 10px;
    }
}