.exampleVideo {
    padding: 25px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: #10ffff;
    font-weight: 900;
}

.subtitle {
    color: #ffffff;
    font-weight: 100;
}

.exampleVideoCard {
    margin-bottom: 25px;
}

.videoWrapper {
    width: 300px;
    position: relative;
}

.playHover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #10ffff;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    transition: .3s linear;
}

.playHover:hover {
    opacity: 1;
}

.playButton {
    width: 80px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .exampleVideo {
        padding: 50px 50px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1240px) {
    .videoWrapper {
        width: 350px;
    }

    .exampleVideo {
        padding: 50px 100px;
    }
}

@media screen and (min-width: 1920px) {
    .exampleVideo {
        padding: 50px 200px;
    }

    .videoWrapper {
        width: 450px;
    }

    .videoImg {
        width: 700px;
    }
}