*,
*::before,
*::after {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #10ffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #1C1B1B;
    overflow-x: hidden;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.canvas {
    display: none;
}

.canvasError {
    display: none;
}

.swiper-container {
    margin-left: 20px !important;
}

.waveform {
    margin-left: 25px;
    width: 230px;
}

@media screen and (min-width: 768px) {
    .swiper-container {
        margin-left: auto;
    }

    .waveform {
        margin-left: 25px;
        width: 505px;
    }
}

@media screen and (min-width: 1024px) {
    .canvas {
        display: block;
        width: 100vw;
        height: 300px;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .canvasError {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 0;
    }
}

@media screen and (min-width: 1240px) {
    .canvas {
        height: 400px;
    }
}

@media screen and (min-width: 1920px) {
    .canvas {
        height: 700px;
    }

    /*.swiper-slide {*/
    /*    margin-right: 0px !important;*/
    /*}*/
}