 .wrapper {
     padding: 25px 25px 10px 25px;
 }

 .border {
     border: 3px solid #10ffff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     height: 300px;
 }

 .offerButton {
     display: block;
     background-color: #10ffff;
     width: 250px;
     padding: 8px;
     color: #1C1B1B;
     border: 1px solid #10ffff;
     text-align: center;
     outline: none;
     text-decoration: none;
     transition: .3s linear;
     cursor: pointer;
     margin: 25px 10px;
     position: relative;
     z-index: 1;
 }

 .offerButton:hover,
 .offerButton:active {
     background-color: #1c1b1b;
     border-color: #10ffff;
     color: #FFFFFF;
 }

 .offer {
     width: 100%;
     color: #ffffff;
     font-weight: 300;
     font-size: 35px;
     padding: 0px 10px;
 }

 .tint {

 }

 .bold {
     font-weight: 900;
 }

 .blue {
     color: #10ffff;
     font-weight: 900;
 }

 @media screen and (min-width: 768px) {
    .wrapper {
        padding: 50px 50px 25px 50px;
    }

    .border {
        height: 250px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        padding: 25px 100px;
    }

    .border {
        padding: 50px;
        justify-content: start;
    }
}

@media screen and (min-width: 1240px) {
    .wrapper {
        padding: 50px 100px;
    }

    .border {
        height: 300px;
        align-items: center;
    }

    .offer {
        font-size: 48px;
    }
}

 @media screen and (min-width: 1920px) {
     .wrapper {
         padding: 50px 200px;
     }

     .border {
         height: 600px;
     }

     .offer {
         font-size: 68px;
     }
 }