 .wrapper {
     padding: 25px 25px 10px 25px;
 }

 .border {
     border: 3px solid #10ffff;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 250px;
 }

 .offer {
     width: 100%;
     color: #ffffff;
     font-weight: 300;
     font-size: 35px;
     padding: 0px 10px;
 }

 .bold {
     font-weight: 900;
 }

 .blue {
     color: #10ffff;
 }

 @media screen and (min-width: 768px) {
    .wrapper {
        padding: 50px 50px 25px 50px;
    }

    .border {
        height: 250px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        padding: 25px 100px;
    }

    .border {
        padding: 50px;
    }
}

@media screen and (min-width: 1240px) {
    .wrapper {
        padding: 50px 100px;
    }

    .border {
        height: 300px;
    }

    .offer {
        font-size: 48px;
    }
}

 @media screen and (min-width: 1920px) {
     .border {
         height: 600px;
     }

     .offer {
         font-size: 68px;
     }
 }
